@charset "UTF-8";
/* ==========================================================================
    top_mv
========================================================================== */

.examinfo_mv{
    overflow: hidden;
}
.examinfo_mv_sp{
    display: block;
    position: relative;
    max-width: 750px;
    height: 100%;
    max-height: 560px;
    margin: 0 auto;
    text-align: center;
}
.examinfo_mv_sp:before{
    content:"";
    display: block;
    padding-top: 75%;
}
.examinfo_mv_sp > div{
    position: absolute;
}
.examinfo_mv_sp .mv_blackboard{
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
}
.examinfo_mv_sp .mv_title{
    top: 45%;
    left: 50%;
    width: 79%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.45s 0.1s cubic-bezier(.49,.16,.28,1.4);
}
.loaded .examinfo_mv_sp .mv_title{
    transform: translate(-50%,-50%) scale(1);
}

.examinfo_mv_sp .mv_chara_01,
.examinfo_mv_sp .mv_chara_02,
.examinfo_mv_sp .mv_chara_03{
    width: 42%;
    height: 81%;
    bottom: -28%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.49,.16,.28,1.4);
}
.examinfo_mv_sp .mv_chara_01{
    left: -11.5%;
    transition-delay: 0.8s;
}
.examinfo_mv_sp .mv_chara_02{
    left: 2.5%;
    transition-delay: 1.2s;
}
.examinfo_mv_sp .mv_chara_03{
    right: -6%;
    transition-delay: 1.0s;
}
.loaded .examinfo_mv_sp .mv_chara_01,
.loaded .examinfo_mv_sp .mv_chara_02,
.loaded .examinfo_mv_sp .mv_chara_03{
    transform: translateY(0%);
}

.examinfo_mv_pc{
    display: none;
}
@media print, screen and (min-width:641px) {
    .examinfo_mv_sp{
        display: none;
    }
    .examinfo_mv_pc{
        display: block;
        position: relative;
        max-width: 1500px;
        height: 100%;
        max-height: 600px;
        margin: 0 auto;
        text-align: center;
    }
    .examinfo_mv_pc:before{
        content:"";
        display: block;
        padding-top: 40%;
    }
    .examinfo_mv_pc > div{
        position: absolute;
    }
    .examinfo_mv_pc .mv_clock{
        top: 2.5%;
        left: -3%;
        width: 9.3%;
        opacity: 0;
        transition: opacity 0.25s ease;
    }
    .loaded .examinfo_mv_pc .mv_clock{
        opacity: 1;
    }
    .examinfo_mv_pc .mv_blackboard{
        top: 48%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 68%;
    }
    .examinfo_mv_pc .mv_title{
        top: 44%;
        left: 50%;
        width: 54%;
        transform: translate(-50%,-50%) scale(0);
        transition: transform 0.45s 0.6s cubic-bezier(.49,.16,.28,1.4);
    }
    .loaded .examinfo_mv_pc .mv_title{
        transform: translate(-50%,-50%) scale(1);
    }

    .examinfo_mv_pc .mv_obj_l01,
    .examinfo_mv_pc .mv_obj_l02,
    .examinfo_mv_pc .mv_obj_l03,
    .examinfo_mv_pc .mv_obj_l04,
    .examinfo_mv_pc .mv_obj_r01,
    .examinfo_mv_pc .mv_obj_r02,
    .examinfo_mv_pc .mv_obj_r03,
    .examinfo_mv_pc .mv_obj_r04,
    .examinfo_mv_pc .mv_obj_r05{
        opacity: 0;
        transition: opacity 0.25s ease, transform 0.45s cubic-bezier(.16,.31,.34,1) ;
    }
    .examinfo_mv_pc .mv_obj_l01{
        top: 6%;
        left: 9.5%;
        width: 5%;
        transform: translate(-60%,-40%);
    }
    .examinfo_mv_pc .mv_obj_l02{
        top: 17%;
        left: 7.5%;
        width: 4.5%;
        transform: translate(-30%,-60%);
    }
    .examinfo_mv_pc .mv_obj_l03{
        top: 13.5%;
        left: 12.5%;
        width: 9%;
        transform: translate(-60%,-40%);
    }
    .examinfo_mv_pc .mv_obj_l04{
        top: 4%;
        left: 17%;
        width: 9%;
        transform: translate(-70%,-20%);
    }

    .examinfo_mv_pc .mv_obj_r01{
        top: 10%;
        right: 16.5%;
        width: 10%;
        transform: translate(60%,-40%);
    }
    .examinfo_mv_pc .mv_obj_r02{
        top: 5.5%;
        right: 10%;
        width: 5.5%;
        transform: translate(70%,-30%);
    }
    .examinfo_mv_pc .mv_obj_r03{
        top: 15.8%;
        right: 7.2%;
        width: 7%;
        transform: translate(60%,-40%);
    }
    .examinfo_mv_pc .mv_obj_r04{
        top: 1.5%;
        right: 0.5%;
        width: 9%;
        transform: translate(60%,-40%);
    }
    .examinfo_mv_pc .mv_obj_r05{
        top: 27%;
        right: -1.2%;
        width: 8%;
        transform: translate(30%,-70%);
    }
    .loaded .examinfo_mv_pc .mv_obj_l01,
    .loaded .examinfo_mv_pc .mv_obj_l02,
    .loaded .examinfo_mv_pc .mv_obj_l03,
    .loaded .examinfo_mv_pc .mv_obj_l04,
    .loaded .examinfo_mv_pc .mv_obj_r01,
    .loaded .examinfo_mv_pc .mv_obj_r02,
    .loaded .examinfo_mv_pc .mv_obj_r03,
    .loaded .examinfo_mv_pc .mv_obj_r04,
    .loaded .examinfo_mv_pc .mv_obj_r05{
        transform: translate(0,0);
        opacity: 1;
    }

    .examinfo_mv_pc .mv_chara_01,
    .examinfo_mv_pc .mv_chara_02,
    .examinfo_mv_pc .mv_chara_03{
        width: 22%;
        bottom: -30px;
        transform: translateY(100%);
        transition: transform 0.45s 1.3s cubic-bezier(.49,.16,.28,1.4);
    }
    .loaded .examinfo_mv_pc .mv_chara_01,
    .loaded .examinfo_mv_pc .mv_chara_02,
    .loaded .examinfo_mv_pc .mv_chara_03{
        transform: translateY(10%);
    }
    .examinfo_mv_pc .mv_chara_01{
        left: -1.5%;
    }
    .examinfo_mv_pc .mv_chara_02{
        left: 6.5%;
        transition-delay: 1.7s;
    }
    .examinfo_mv_pc .mv_chara_03{
        right: 2%;
        transition-delay: 1.5s;
    }
}