@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul, li{
	list-style: none;
}
body{
	background-color: #67AF28;
}
section#top{
	overflow: hidden;
	padding-top: 80px;
}

.top_row{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
    overflow: visible;
}
.top_all{
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	width: 100%;
	padding: 0 0.75rem;
}
.top_left{
	width: 56.25%;
}
#top img{
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: bottom;
}
.benri{
	margin-bottom: 50px;
}
.top_left h1{
	margin-bottom: 50px;
}
.download{
	display: block;
	margin: 0 auto 15px;
}
.nav_top_app > ul{
	display: flex;
	padding: 0 4%;
}
.nav_top_app > ul > li{
	margin-right: 4%;
	width: 46%;
}
.nav_top_app > ul > li > a{
	text-align: center;
	width: 100%;
}
.nav_top_app > ul > li:last-child > a{
	margin-right: 0;
	display: inline-block;
}
.top_right{
	position: absolute;
	top: -15px;
	left: 56.25%;
	width: 92.7%;
}
.top_right > img{
	height: 889px;
	width: 100%
}
/*YOUTUBEコンテンツ欄*/
section#video{
	margin-top: 80px;
	text-align: center;
}
section#video > div{
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	padding: 0 0.75rem;
}
.youtube_1{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.youtube_1 > iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main_header{
	margin-top: 115px;
	text-align: center;
}
.box_sec01{
	background-color: #fff;
	width: 960px;
    margin: 0 auto;
    padding: 40px 10.4% 40px;
}
.il{
	width: 503px;
}
.num01{
	margin-bottom: -73px;
}
.box_sec01 h3{
	margin-bottom: 30px;
}
.lead{
	text-align: left;
	margin-bottom: 30px;
	margin-top: 21px;
}
.box_sec02{
	background-color: #fff;
	width: 960px;
    margin: 0 auto;
    padding: 40px 10.4% 40px;
}
.num02{
	margin-top: 40px;
	margin-bottom: -73px;
}
.box_sec02 h4{
	margin-bottom: 30px;
}
.il_area{
	margin-left: -7px;
    margin-right: -7px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: calc(100% + 14px);
}
.il_area > div{
	width: calc(100% / 5);
}
.il_area > div > img{
	max-width: 95%;
	display: block;
	margin: 0 auto;
}
.il_area > div > p{
    width: 100%;
    margin: 7px 0 0;
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: #007130;
}
.box_sec03{
	background-color: #fff;
    width: 960px;
    margin: 0 auto;
    padding: 40px 10.4% 40px;
}
.num03{
	margin-top: 40px;
	margin-bottom: -73px;
}
.gr-area1{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: left;
    margin-top: 35px;
}
.sec3_tab1{
	display: flex;
    padding: 40px;
    background: #d9ebc9;
}
.left_side{
    width: 50%;
}
.left_side h4{
	color: #007130;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.left_side p{
	font-size: 17px;
    line-height: 1.5;
}
.right_side{
	width: 50%;
}
.right_side > img{
	width: 100%;
}


.arw{
	margin: 30px auto;
	display: block;
}
.check_area{
	border: 2.5px solid #097637;
	padding: 25px 15px 10px;
}
.check_area > img{
	margin: 0 auto 20px;
	display: block;
}