@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul, li{
	list-style: none;
}
body{
	background-color: #67AF28;
}
section#top{
	overflow: hidden;
	padding-top: 80px;
}

.top_row{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
    overflow: visible;
}
.top_all{
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	width: 100%;
	padding: 0 0.75rem;
}
.top_left{
	width: 56.25%;
}
#top img{
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: bottom;
}
.benri{
	margin-bottom: 50px;
}
.top_left h1{
	margin-bottom: 50px;
}
.download{
	display: block;
	margin: 0 auto 15px;
}
.nav_top_app > ul{
	display: flex;
	padding: 0 4%;
}
.nav_top_app > ul > li{
	margin-right: 4%;
	width: 46%;
}
.nav_top_app > ul > li > a{
	text-align: center;
	width: 100%;
}
.nav_top_app > ul > li:last-child > a{
	margin-right: 0;
	display: inline-block;
}
.top_right{
/*【質問４】スマホと人が動く画像の大きさを調整したいです。.top_rightに対して889×569pxを入れてみましたが、小さく表示されてしまいます*/
	position: absolute;
	top: -15px;
	left: 56.25%;
	width: 92.7%;
}
.top_right > img{
	height: 889px;
	width: 100%
}
/*YOUTUBEコンテンツ欄*/
section#video{
	margin-top: 80px;
	text-align: center;
}
.youtube_1 > iframe{
	width: 845px;
    height: 475px;
    left: 0px;
    top: 0px;
}
.main_header{
	margin-top: 115px;
	text-align: center;
}
.box_sec01{
	background-color: #fff;
	width: 960px;
    margin: 0 auto;
    padding: 40px 10.4% 40px;
}
.il{
	width: 503px;
}
.num01{
	margin-bottom: -73px;
}