@charset "UTF-8";
*{
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}	
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}

header{
	display: flex;
	width: 100%;
	background-color: #006291;
	position: relative;
}
nav{
	width:calc(50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
}
nav > ul{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

h1 {
	float: left;
	padding: 10px 0;
}
span {
	color: #00D646;
}
h1 a {
		display: block;
		width: 100px;
		height: 69px;
		background: url(../img/naoya1.jpg) left top/100px auto no-repeat;
	}

nav > ul > li > a{
	padding: 10px;
	color: #fff;
	transition: all .3s ease;
}
nav > ul > li > a:hover{
	color: #00D646;
}

}
main{
	width: 100%;
}
main > section#top{
	height:  calc(100vh - 100px);
	/*100vhは画面分の高さ　－　100px（ヘッダーの高さ）を引いた*/
	/*calc()中身を計算する*/
	/*background-color: green;*/
	background-image: url(../img/top1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*attachement=固定表示*/
	background-position: center center;
	/*どこを表示しますか*/
	background-size: cover; 
	/*全体の大きさに合わせる*/
}
main > section#top > div{
	position: relative;
	height: 100%;
	width: 100%;
	/*画面に対して、relativeは相対的に位置を決める*/
}
main > section#top > div > h1{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	font-size: 65px;
	text-align: left;
}
main > section#top > div > p{
	color: #fff;
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;				
	text-decoration: center;
	font-size: 24px;
}

/*---------------------ここからヒストリーーーーーーーーーーーーーーーーーーーーーーーー*/
main > section#history{
	padding: 100px;
	background-color: #f4f8f8;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover; 
	font-size: 35px;
	color: #38a2e0;
}

.tree{
	display: flex;
	flex-flow: column;
	position: relative;
}
section#history .tree::after{
	content: "";
	position: absolute;
	width: 3px;
/*	height: 100%;*/
	background-color: #000;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 0%;
	transition: all 5s ease;
}
section#history.active .tree::after{
	height: 100%;
}	


.branch{
 width: 50%;
 margin: 0 auto;
 padding: 40px 20px;
 position: relative;
 opacity: 0;
 transform: translateY(100px);
 transition: all 3s ease;
 color: red;
}
section#history .branch:nth-of-type(odd){
 margin-left: 0;
 opacity: 0;
 transform: translateY(100px);
 transition: all 1s ease;
}
section#history.active .branch:nth-of-type(odd){
 opacity: 1;
 transform: translateY(0);
}
.branch:nth-of-type(odd)::before{
 content: "";
 position: absolute;
 top: 0;
 right: -5px;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background-color: blue;
 z-index: 9999;
}
section#history .branch:nth-of-type(even){
 margin-right: 0;
 opacity: 0;
 transform: translateY(100px);
 transition: all 1s ease;
}
section#history.active .branch:nth-of-type(even){
 opacity: 1;
 transform: translateY(0);
}

.branch:nth-of-type(even)::before{
 content: "";
 position: absolute;
 top: 0;
 left: -5px;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background-color: blue;
 z-index: 9999;
}
.branch:last-child::after{
 content: "";
 position: absolute;
 bottom: 0;
 right: -5px;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background-color: blue;
 z-index: 9999; 
}
.branch:nth-of-type(odd) *{
 text-align: right;
}
.branch:nth-of-type(even) *{
 text-align: left;
}
.branch h2{
 font-size: 30px;
 letter-spacing: .3em;
}
.branch p{
 font-size: 20px;
 letter-spacing: .1em;
}

section#history .branch:nth-of-type(1){
 transition-delay: 1s;
}
section#history .branch:nth-of-type(2){
 transition-delay: 2s;
}
section#history .branch:nth-of-type(3){
 transition-delay: 3s;
}
section#history .branch:nth-of-type(4){
 transition-delay: 4s;
}

/*ーーーーーーーーーーーーーーーーーーここからコンテンツーーーーーーーーーーーーーーーーーーー*/

main > section#content{
	height: 100vh;
	width: 100%;
	/*background-color: green;*/
	background-image: url(../img/top3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
main > section#content > div{
	width: 100%;
	height: 100%;
	position: relative;
}

.three_columns{
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding-top: 250px;	
	position: absolute;
	top:50%;	
	transform: translateY(-50%);
}
.three_columns > a {
	width: calc(100% / 3);
	display: block;
}

main > section#content > div > h1{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	font-size: 50px;
	text-align: center;
}

main > section#content > div > h3{
	color: #fff;
	text-align: center;
	padding-top: 80px;
	font-size: 50px;
}
main > section#content > div > p{
	color: #fff;
	text-align: center;
	padding: 50px;
	font-size: 25px;
}

.sample-box1{
	color: #fff;	
	height:300px;
	background:blue;
	border:1px solid #a7e;
	background-image: url(../img/keikaku.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.sample-box2{
	display: block;
	color: #fff;
	width:300px;
	height:300px;
	background:blue;
	border:1px solid #a7e;
	background-image: url(../img/portfolio1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  }
.sample-box3{
	display: block;
	color: #fff;
	width:300px;
	height:300px;
	background:blue;
	border:1px solid #a7e;
	background-image: url(../img/kawa.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*ーーーーーーーーーーーここから問い合わせフォームーーーーーーーーーーーーーーーーーーーーーーー*/
section#mailform{
	height: 100%;
	background-color: #f4f8f8;
	padding: 100px;

}
section#mailform > div {
/*	background-image: url(../img/wakuwaku.jpg);*/
	background-color: #e2e2e2;
	color: #38a2e0;
	width: 100%;
	padding: 100px;

}

section#mailform > div{
	width: 800px;
	display: flex;
	margin: auto;
	background-color: #f4f8f8;		
}

section#mailform > div >div{
	width: calc(100% / 2);	
}

div.left > p{
	overflow-wrap: break-word;
	word-wrap: break-word;
}

input , textarea{
	font-size : 18px;
	padding: 5px , 3px;
	border-radius: 3px;
	outline: none;
}

section#mailform > div{
	padding: 30px 20px;

}
.left{
	padding-right: 30px;
}
.right{
	padding-left: 30px;
}	

.right > form > p{
	width: 100%;
	margin: 5px;
}
.right > form > p > input{
	display: block;
	width: 80%;
	margin: 0 auto;
}
.right > form > p > textarea{
	display: block;
	width: 80%;
	margin: 0 auto;
	height: 80px
}
input[type="submit"]{
	display: block;
	width: 120px;
	margin: 0px auto;
}



/*ーーーーーーーーーーーーーーーーーーーーーーーレスポンシブのCSSーーーーーーーーーーーーーーーーーーーーーーーーーー*/

@media screen and (max-width: 800px){
	header{
		height: 76px;
		width: 100%;
	}
	main > section#top > div > h1{
		width: 85%;
	}
	main > section#top > div > p{
		width: 85%;
		font-size: 20px;
		text-shadow: 0 0 2px #0d1e25,
					 0 0 2px #0d1e25;
		color: #9dff00;
	}
	section#mailform > div {
	    flex-flow: column;
	    margin: 0 auto;
	}
	
	.three_columns{
		flex-flow: column;
		bottom: 5%;
		top: inherit;
		transform: inherit;
		/*ineherit=初期化*/
	}
	.three_columns > a {
		width: calc( 90%);
		height: 150px;
		margin: 0 auto;
	}

	section#mailform > div {
	    flex-flow: column;
	    width: 100%;
	}
	section#mailform > div >div {
	    width: calc(80%);
	    padding-left: 30px;
	    margin: 0 auto;
	}
	.right > form > p > input {
	    display: block;
	    width: 100%;
	    margin: 0 auto;
	}
	.right > form > p > textarea{
		display: block;
		width: 100%;
		margin: 0 auto;
		height: 80px
	}
}



