@charset "UTF-8";
*{
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}	
h1{
	text-align: left;
}
ul,li{
	list-style: none; 
}
a{
	text-decoration: none;
}
html, body{
	width: 100%;
}
/*Heder*/
header{
	width: 100%;
	display: flex;
	flex-flow: column;
	/*height: 50px;*/
}
header > div{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
header > nav{
	width: 100%;
	background-color: #c70e00;
}
header > nav > ul{
	width: 1000px;
	margin: 0 auto;
	display: flex;
}
header > nav > ul > li{
	width: calc(100% / 6);
	border-right: 1px solid #fff;
}
header > nav > ul > li:first-child{
	border-left: 1px solid #fff;
}
header > nav > ul > li > a{
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	display: block;
	width: 100%;
	background-color: #ea1000;
}
 
/* MAIN */
main, section{
	width: 100%;
}
section#top{
	overflow: hidden;
	background-color: #fde7e7;
}
section#top > div{
	width: 1000px;
	margin: 0 auto;
	padding: 5vw 0;
	position: relative;
}

.blackboard{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 85%;
}
.mvtitle, .chara1, .chara2, .chara3{
	position: absolute;
}
.mvtitle{
	/*大きさ*/
	width: 70%;

	/*位置*/
	top: calc(6vw + 45px);
	left: 50%;
	/*
	right: ;
	bottom: ;
	*/
	transform: translateX(-50%);
}

.chara1{
	width: 30%;
	bottom: -5vw;
	left: -10vw;
}
.chara2{
	width: 30%;
	bottom: -5vw;
	left: -3vw;
}
.chara3{
	width: 30%;
	bottom: -5vw;
	right: -12vw;
}
#test{
	width: 1000px;
	margin: 0 auto;
	display: flex;
}

#test > li {
	width: calc(100% / 5);
/*	border-right: 1px solid #fff;*/
}

#test > li > a{
	height: 80px;
	line-height: 80px;
	color: #fff;
	text-align: center;
	display: block;
	width: 100%;
	background-color: #194369;
}
.nav_blue{
	width: 100%;
	background-color: #194369;
}
section{
	padding: 40px 50px 30px;
	background-color: #F2F2F2;
}
h3{
	font-size: 32px;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 1000px;
	text-align: left;
	letter-spacing: 0.1em;
	color: #194369;
}
dd{
	width: 140px;
}
dt{
	width: 772px;
}
dl{
	width: 912px;
	display: flex;
	padding: 18px 0;
	border-bottom: 1px dashed #CBCBCB;
}
.scroll{
	width: 1000px;
	height: 166px;
	margin: 0 auto;
	background-color: #ffffff;
	overflow-y: scroll;
}

#contents_1{
	padding: 1px 50px;
	background: linear-gradient(147.5deg, #BFEEFB, #97D5F9);
}
#contents_1 > div{
	margin-top: 110px;
    margin-bottom: 110px;
    background: linear-gradient(90deg, #25b2f6, #3969e0);
    padding: 15px;
    max-width: 1000px;
    margin: 110px auto 70px;
}
#contents_1 > div > div{
	width: 100%;
    padding-left: 65px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    min-height: 400px;
    background: linear-gradient(147.5deg, #BFEEFB, #97D5F9);
}   
#contents_1 h3{
	width: 100%;
	margin-top: -90px;
	margin-left: -110px;
	position: relative;
	display: inline-block;
}
#contents_1 p{
	margin: 10px 0 0;
    padding-right: 33%;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", "MS PGothic", sans-serif;
}

#contents_1 ul{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    padding: 15px 0 25px;
}
#contents_1 li{
	width: 50%;
    max-width: 290px;
    min-height: 100px;
    padding-right: 20px;
    margin-top: 20px;
}
#contents_1 a{
	display: flex;
    align-items: center;
    height: 100%;
    padding: 25px 10px 25px 45px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(25,67,105,0.2);
	position: relative;
	background-color: #fff;
	font-weight: bold;
	z-index: 1;
	color: #194369;
    text-decoration: none;
}
#contents_1 a span:first-child{
	position: absolute;
	left: -12.5px;
	top: -7px;
	width: 45px;
	height: 45px;
	background: linear-gradient(90deg, #25b2f6, #3969e0);
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	line-height: 45px;
}
#contents_1 a span:last-child{
	text-align: left;
}
.chara{
	top: inherit;
    bottom: 0;
    right: 0;
    width: 300px;
    max-width: inherit;
    transform: translate(0, 0);
    align-self: flex-end;
    position: absolute;
    z-index: 1;
 }

 /*コンテンツ２*/
#contents_2{
	padding: 1px 50px;
	background: linear-gradient(147.5deg, #FAFA90, #F8DC82);
}
#contents_2 > div{
	margin-top: 110px;
    margin-bottom: 110px;
    background: linear-gradient(90deg, #fab800, #fa6f00);
    padding: 15px;
    max-width: 1000px;
    margin: 110px auto 70px;
}
#contents_2 > div > div{
	width: 100%;
    padding-left: 65px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    min-height: 400px;
    background: linear-gradient(147.5deg, #FAFA90, #F8DC82);
}   
#contents_2 h3{
	width: 100%;
	margin-top: -90px;
	margin-left: -110px; linear-gradient(147.5deg, #FAFA90, #F8DC82);
	position: relative;
	display: inline-block;
}
#contents_2 p{
	margin: 10px 0 0;
    padding-right: 33%;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", "MS PGothic", sans-serif;
}

#contents_2 ul{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    padding: 15px 0 25px;
}
#contents_2 li{
	width: 50%;
    max-width: 290px;
    min-height: 100px;
    padding-right: 20px;
    margin-top: 20px;
}
#contents_2 a{
	display: flex;
    align-items: center;
    height: 100%;
    padding: 25px 10px 25px 45px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(25,67,105,0.2);
	position: relative;
	background-color: #fff;
	font-weight: bold;
	z-index: 1;
	color: #194369;
    text-decoration: none;
}
#contents_2 a span:first-child{
	position: absolute;
	left: -12.5px;
	top: -7px;
	width: 45px;
	height: 45px;
	background: linear-gradient(90deg, #25b2f6, #3969e0);
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	line-height: 45px;
}
#contents_2 a span:last-child{
	text-align: left;
}
.chara{
	top: inherit;
    bottom: 0;
    right: 0;
    width: 300px;
    max-width: inherit;
    transform: translate(0, 0);
    align-self: flex-end;
    position: absolute;
    z-index: 1;
}

/*コンテンツ３*/
#contents_3{
	padding: 1px 50px;
	background: linear-gradient(147.5deg, #FCDADF, #FAB9C4);
}
#contents_3 > div{
	margin-top: 110px;
    margin-bottom: 110px;
    background: linear-gradient(147.5deg, #FCDADF, #FAB9C4);
    padding: 15px;
    max-width: 1000px;
    margin: 110px auto 70px;
}
#contents_3 > div > div{
	width: 100%;
    padding-left: 65px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    min-height: 400px;
    background: linear-gradient(147.5deg, #FCDADF, #FAB9C4);
}   
#contents_3 h3{
	width: 100%;
	margin-top: -90px;
	margin-left: -110px; linear-gradient(147.5deg, #FAFA90, #F8DC82);
	position: relative;
	display: inline-block;
}
#contents_3 p{
	margin: 10px 0 0;
    padding-right: 33%;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", "MS PGothic", sans-serif;
}

#contents_3 ul{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    padding: 15px 0 25px;
}
#contents_3 li{
	width: 50%;
    max-width: 290px;
    min-height: 100px;
    padding-right: 20px;
    margin-top: 20px;
}
#contents_3 a{
	display: flex;
    align-items: center;
    height: 100%;
    padding: 25px 10px 25px 45px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(25,67,105,0.2);
	position: relative;
	background-color: #fff;
	font-weight: bold;
	z-index: 1;
	color: #194369;
    text-decoration: none;
}
#contents_3 a span:first-child{
	position: absolute;
	left: -12.5px;
	top: -7px;
	width: 45px;
	height: 45px;
	background: linear-gradient(90deg, #25b2f6, #3969e0);
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	line-height: 45px;
}
#contents_3 a span:last-child{
	text-align: left;
}
.chara{
	top: inherit;
    bottom: 0;
    right: 0;
    width: 300px;
    max-width: inherit;
    transform: translate(0, 0);
    align-self: flex-end;
    position: absolute;
    z-index: 1;
}

/*コンテンツ４*/
#contents_4{
	padding: 1px 50px;
	background: linear-gradient(147.5deg, #dbf2c9, #b8ea98);
}
#contents_4 > div{
	margin-top: 110px;
    margin-bottom: 110px;
    background: linear-gradient(90deg, #78dd37, #55c40c);
    padding: 15px;
    max-width: 1000px;
    margin: 110px auto 70px;
}
#contents_4 > div > div{
	width: 100%;
    padding-left: 65px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    min-height: 400px;
    background: linear-gradient(147.5deg, #dbf2c9, #b8ea98);
}   
#contents_4 h3{
	width: 100%;
	margin-top: -90px;
	margin-left: -110px; linear-gradient(147.5deg, #FAFA90, #F8DC82);
	position: relative;
	display: inline-block;
}
#contents_4 p{
	margin: 10px 0 0;
    padding-right: 33%;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", "MS PGothic", sans-serif;
}

#contents_4 ul{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    padding: 15px 0 25px;
}
#contents_4 li{
	width: 50%;
    max-width: 290px;
    min-height: 100px;
    padding-right: 20px;
    margin-top: 20px;
}
#contents_4 a{
	display: flex;
    align-items: center;
    height: 100%;
    padding: 25px 10px 25px 45px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(25,67,105,0.2);
	position: relative;
	background-color: #fff;
	font-weight: bold;
	z-index: 1;
	color: #194369;
    text-decoration: none;
}
#contents_4 a span:first-child{
	position: absolute;
	left: -12.5px;
	top: -7px;
	width: 45px;
	height: 45px;
	background: linear-gradient(90deg, #25b2f6, #3969e0);
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	line-height: 45px;
}
#contents_4 a span:last-child{
	text-align: left;
}
.chara{
	top: inherit;
    bottom: 0;
    right: 0;
    width: 300px;
    max-width: inherit;
    transform: translate(0, 0);
    align-self: flex-end;
    position: absolute;
    z-index: 1;
}
/*section {
	width: 100%;
}
*/
/*-----------------contents_one----------------------------*/

/*section > div{
	width: 1000px;
	margin: 0 auto;
}
section > div > div{
	width: 100%;
	display: flex;
}
section > div > div > div:first-child{
	width: 70%;
}
.section h2{
	position: fixed:
	z-index: 1; 
	z-index: 2;
}
*/
/*#menu{
	width:600px;
	height: 45px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: red;
}*/
/*#menu li{
	width: 20%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #fff;

}
#menu li a{
	width: auto;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 12px 0;
	text-decoration: none;
	display: block;
}
#menu li a:hover{
	background-color: #ffa443;
}
*/
/*#test{
	width:600px;
	height: 45px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color:  #196349;
}*/

section > div > div > div:first-child > h2{
	
}
section > div > div > div:first-child > p{

}
section > div > div > div:first-child > a{
	
}

section > div > div > div:last-child{
	width: 30%;
}

/*-----------------contents_two----------------------------*/



/*-----------------contents_three----------------------------*/



/*-----------------contents_Four----------------------------*/

